.my-modal {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.my-modal-content {
  border-radius: 5%;
  background: #e7e7e7;
  max-width: 80vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.my-modal-content .btn {
  display: block;
  margin: 0 !important;
  margin-top: 1em;
  margin-bottom: 32px;
  font-size: 150%;
}

.info-modal {
  text-align: center;
  margin: 0.4em !important;
  padding: 1em !important;
}

@media (min-width: 576px) {
  .info-modal {
    margin-top: 2em;
  }
  .my-modal-content {
    max-height: 60vh;
  }
}
