.form {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.search-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.search-input {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.seacrh-btn {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  background-color: #866baf !important;
  outline: none;
  box-shadow: 0;
}
.search-box {
  position: absolute;
  display: block;
  width: 288px;
  background-color: #ffffff;
  border-radius: 20px;
  z-index: 3;
}
.search-element {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pointer {
  cursor: pointer;
}
.search-element:hover {
  background-color: #e7e7e7;
}

@media (max-width: 992px) {
  .search-box {
    width: 664px;
  }
  .form {
    padding: 1em;
  }
}
@media (max-width: 768px) {
  .search-box {
    width: 484px;
  }
}
@media (max-width: 576px) {
  .search-box {
    width: 288px;
  }
}
@media (max-width: 340px) {
  .search-box {
    width: 237px;
  }
}

