@media (min-width: 1400px) {
  .noti {
    max-width: 25%;
  }
}
.change-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  row-gap: 1em;
  min-width: 80%;
  max-width: 80%;
}
.btn-change-page {
  margin: 1em;
  color: #7313ff;
  border: 0;
}

.content-name {
  text-align: center;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .change-details {
    max-width: 320px;
  }
}

