form {
  border: 1px solid #212529;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 15.5%;
}

label {
  font-weight: bold !important;
}
.login-title {
  text-align: center;
}

@media (min-width: 1200px) {
  form {
    width: 20%;
  }
}
