p {
  padding: 0.2em 0;
  margin-bottom: 1.2em;
}

.card-img {
  max-height: 317px;
}
.img-container {
  min-width: 200px;
  min-height: 274px;
  max-width: 214px;
  border-bottom: 4px solid #121416;
}

small {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.2em;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
