.card-link {
  color: #eee;
  display: block;
  height: 100%;
  text-decoration: none;
  position: relative;
  width: 100%;
  text-align: center;
}

p{
  padding: 0.2em 0;
  margin-bottom: 1.2em;
}

.card-img{
  max-height: 317px;
}

small {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.2em;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

